* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.box-header {
 display: flex;
 align-items: center;
 justify-content: center; 
 background-image: url("./img/logo.png");
 background-repeat: no-repeat;
 background-size: contain;
 width: 100%;
}

.mask {
 position: relative;
 left: 30vw;
 bottom: 1vh;
 z-index: 2;
}
 
.mask img {
  width: 60rem;
}

.star img {
 width: 378px;
}

.star {
position: relative;
right: 35vw;
bottom: 1vh;
}

.wars img {
 width: 378px;
}

.wars {
 position: relative;
 right: 14vw;
 bottom: 1vh;
}

.legion img {
 width: 150px;
}

.legion {
 position: relative;
 right: 28vw;
 top: 26vh;
}


@media (max-width: 1024px) {   

.box-header {
  background-image: url("./img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1152px;
  height: 41rem;
 }

 .mask {
  position: absolute;
  left: 8rem;
  top: 3rem;
  z-index: 2;
 }
  
 .mask img {
   width: 43rem;
 }
 
 .star img {
  width: 240px;
 }
 
 .star {
 position: absolute;
 left: 13rem;
 top: 17rem;
 }

 .wars img {
  width: 240px;
 }
 
 .wars {
  position: absolute;
  left: 41.2rem;
  top: 16.9rem;
 }

 .legion img {
  width: 90px;
 }
 
 .legion {
  position: absolute;
  left: 49rem;
  top: 23rem;
 }
}

@media (max-width: 768px) {
  .box-header {
    background-image: url("./img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 944px;
    height: 37rem;
   }
  
   .mask {
    position: absolute;
    left: 7rem;
    top: 1rem;
    z-index: 2;
   }
    
   .mask img {
     width: 38rem;
   }

   .star img {
    width: 260px;
   }
   
   .star {
   position: absolute;
   left: 9rem;
   top: 13rem;
   }

   .wars img {
    width: 260px;
   }
   
   .wars {
    position: absolute;
    left: 37rem;
    top: 13.5rem;
   }

   .legion img {
    width: 100px;
   }
   
   .legion {
    position: absolute;
    left: 44rem;
    top: 20rem;
   }

}


@media (max-width: 425px) {
  .box-header {
    background-image: url("./img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1510px;
    height: 41rem;
   }
  
  
  .mask {
    position: absolute;
    left: 13rem;
    top: 5rem;
    z-index: 2;
   }
    
   .mask img {
     width: 53rem;
   }
    
   .star img {
    width: 270px;
   }
   
   .star {
   position: absolute;
   left: 21rem;
   top: 23rem;
   }
  
   .wars img {
    width: 270px;
   }
   
   .wars {
    position: absolute;
    left: 54rem;
    top: 23rem;
   }

  .legion img {
    width: 120px;
   }
   
   .legion {
    position: absolute;
    left: 64rem;
    top: 36rem;
   }
}

.box-main {
 background-image: url(./img/robot.png);
 width: 100%;
 height: 80rem;
 background-size: contain;
 background-repeat: no-repeat;
 position: relative;
 bottom: 10rem; 
}

.card-red {
 position: absolute;
 top: -2rem;
 z-index: 2;
 left: 11rem;
}

.card-red img {
  width: 20rem;
}

.card-text {
  position: absolute;
  top: 16rem;
  left: 39rem;
}

.card-text img {
  width: 650px;
}

.line {
 width: 66rem;
 height: 3px;
 background-color: rgb(37, 36, 36);
 position: absolute;
 left: 14rem; 
 top: 35rem;
}

.dart {
  position: absolute;
  top: 40rem;
  left: 15rem;
  z-index: 2;
}

.dart img {
 width: 680px;
}

.menu {
  position: absolute;
  top: 50rem;
  left: 45rem;
  text-transform: uppercase;
  text-align: end;
  font-size: 18px;
  font-family: arial, sans-serif;
}

.menu h2 {
  font-size: 35px;
  width: 271px;
  margin-left: 45px;
  line-height: 1;
}

 .menu p {
  padding-top: 20px;
}

.menu strong{
  font-weight: bolder;
}

 .menu p:hover {
  background-color: orangered;
  color: white;
  cursor: pointer;
} 

.rey {
  position: absolute;
  left: 64rem;
  top: 44rem;
  z-index: 2;
}

.rey img {
  width: 325px;
}

.hierarchy {
 background-color: rgb(24, 23, 23);
 width: 100%;
 height: 120rem;
 position: relative;
 bottom: 10rem;
 display: flex;
}

.hyerarchy, h3 {
  color: white;
  font-family: arial, sans-serif;
  position: relative;
  left: 8rem;
  top: 10rem;
  text-transform: uppercase;
}

.power img {
 width: 625px;
}

.power {
  position: relative;
  top: 14rem;
  right: 4rem;
}

.power:hover {
  background: url(./img/novos\ graficos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 625px;
  height: 381px;
  cursor: pointer;
} 

.stormtrooper img {
  width: 300px;
  height: 192px;
}

.stormtrooper {
  position: relative;
  top: 14rem;
  left: -4rem;
}

.stormtrooper:hover {
  background: url(./img/novos\ graficos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 192px;
  cursor: pointer;
}

.war img {
  width: 290px;
  height: 192px;
}

.war {
  position: relative;
  top: 14rem;
  left: -4rem;
}

.war:hover {
  background: url(./img/novos\ graficos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 290px;
  height: 192px;
  cursor: pointer;
}

.aircraft img {
 width: 300px;
 height: 189px;
}

.aircraft {
  position: relative;
  top: 26rem;
  left:-41rem;
}

.aircraft:hover {
  background: url(./img/novos\ graficos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 189px;
  cursor: pointer;
}

.scout-trooper img {
  width: 292px;
  height: 189px;
}

.scout-trooper {
  position: relative;
  top: 26rem;
  left:-41rem;
}

.scout-trooper:hover {
  background: url(./img/novos\ graficos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 189px;
  cursor: pointer;
}

.patent img {
 width: 1220px;
}

.patent {
  position: relative;
  top: 45rem;
  right: 117rem;
}

.rule {
  position: relative;
  bottom: 38rem;
  left: 41rem;
  color: white;
  width: 595px;
  opacity: 0.5;
}

.play {
 position: relative;
 bottom: 22rem;
 text-align: center;
 font-size: 30px;
 color: white;
 font-family: arial, sans-serif;
 text-transform: uppercase;
}

.play h4:hover {
  cursor: pointer;
}


@media (max-width: 1024px) {
  .box-main {
    background-image: url(./img/robot.png);
    width: 100%;
    height: 68rem;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    bottom: 10rem; 
   }
   
   .card-red {
    position: absolute;
    top: -2rem;
    z-index: 2;
    left: 8rem;
   }
   
   .card-red img {
     width: 16rem;
   }
   
   .card-text {
    position: absolute;
    top: 14rem;
    left: 33rem;
  }
  
  .card-text img {
    width: 450px;
  }
  
  .line {
    width: 50rem;
    height: 3px;
    background-color: rgb(37, 36, 36);
    position: absolute;
    left: 11rem; 
    top: 29rem;
   }
   
   .dart {
    position: absolute;
    top: 36rem;
    left: 11rem;
    z-index: 2;
  }
  
  .dart img {
   width: 545px;
  }
  
  .menu {
    position: absolute;
    top: 40rem;
    left: 32rem;
    text-transform: uppercase;
    text-align: end;
    font-size: 15px;
    font-family: arial, sans-serif;
  }
  
  .menu h2 {
    font-size: 25px;
    width: 155px;
    margin-left: 8rem;
    line-height: 1;
  }
  
   .menu p {
    padding-top: 20px;
  }
  
  .menu strong{
    font-weight: bolder;
  }
  
  .rey {
    position: absolute;
    left: 48rem;
    top: 39rem;
    z-index: 2;
  }
  
  .rey img {
    width: 265px;
  }

  .hierarchy {
    background-color: rgb(24, 23, 23);
    width: 72rem;
    height: 100rem;
    position: relative;
    bottom: 10rem;
    display: flex;
   }
   
   .hyerarchy, h3 {
     color: white;
     font-family: arial, sans-serif;
     position: relative;
     left: 9rem;
     top: 8rem;
     text-transform: uppercase;
   }

   .power img {
    width: 500px;
   }
   
   .power {
     position: relative;
     top: 14rem;
     right: 3rem;
   }

  .stormtrooper img {
    width: 200px;
    height: 152px;
  }
  
  .stormtrooper {
    position: relative;
    top: 14rem;
    left: -3rem;
  }
  

  .war img {
    width: 200px;
    height: 152px;
  }
  
  .war {
    position: relative;
    top: 14rem;
    left: -3rem;
  }

  .aircraft img {
    width: 200px;
    height: 152px;
   }
   
   .aircraft {
     position: relative;
     top: 23.5rem;
     left:-28rem;
   }

   .scout-trooper img {
    width: 200px;
    height: 152px;
  }
  
  .scout-trooper {
    position: relative;
    top: 23.5rem;
    left:-28rem;
  }

  .patent img {
    width: 890px;
   }
   
   .patent {
     position: relative;
     top: 38rem;
     right: 84rem;
   }
   
   .rule {
    position: relative;
    bottom: 36rem;
    left: 22rem;
    color: white;
    width: 596px;
    opacity: 0.5;
  }
  
  .play {
    position: relative;
    bottom: 22rem;
    left: 8rem;
    font-size: 25px;
    color: white;
    font-family: arial, sans-serif;
    text-transform: uppercase;
   }
   }

   @media (max-width: 768px) {
    .box-main {
      background-image: url(./img/robot.png);
      width: 100%;
      height: 90rem;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      bottom: 12rem; 
     }
     
    .card-text {
      position: absolute;
      top: 14rem;
      left: 28rem;
    }
    
    .card-text img {
      width: 450px;
    }
    
    .line {
      width: 46rem;
      height: 3px;
      background-color: rgb(37, 36, 36);
      position: absolute;
      left: 11rem; 
      top: 30rem;
     }

     .dart {
      position: absolute;
      top: 60rem;
      left: 5rem;
      z-index: 2;
    }
    
    .dart img {
     width: 520px;
    }
    
    .menu {
      position: absolute;
      top: 64rem;
      left: 25rem;
      text-transform: uppercase;
      text-align: end;
      font-size: 15px;
      font-family: arial, sans-serif;
    }

    .rey {
      position: absolute;
      left: 42rem;
      top: 63rem;
      z-index: 2;
    }
   
    .rey img {
      width: 250px;
    }

    .hierarchy {
      background-color: rgb(24, 23, 23);
      width: 59rem;
      height: 90rem;
      position: relative;
      bottom: 12rem;
      display: flex;
     }

     .power img {
      width: 450px;
      height: 278.2px;
     }
     
     .power {
       position: relative;
       top: 14rem;
       right: 2rem;
     }

     .stormtrooper img {
      width: 180px;
      height: 140px;
    }
    
    .stormtrooper {
      position: relative;
      top: 14rem;
      left: -2rem;
    }
    
    .war img {
      width: 180px;
      height: 140px;
    }
    
    .war {
      position: relative;
      top: 14rem;
      left: -2rem;
    }
  
    .aircraft img {
      width: 180px;
      height: 140px;
     }
     
     .aircraft {
       position: relative;
       top: 22.7rem;
       left:-24.5rem;
     }
  
     .scout-trooper img {
      width: 180px;
      height: 140px;
    }
    
    .scout-trooper {
      position: relative;
      top: 22.7rem;
      left:-24.5rem;
    }
    
    .patent img {
      width: 800px;
     }
     
     .patent {
       position: relative;
       top: 38rem;
       right: 75rem;
     }

     .rule {
      font-size: 12px;
      position: relative;
      bottom: 33rem;
      left: 26rem;
      color: white;
      width: 452px;
      opacity: 0.5;
    } 

    .play {
      position: relative;
      bottom: 20rem;
      margin-left: 2rem;
      font-size: 25px;
      color: white;
      font-family: arial, sans-serif;
      text-transform: uppercase;
     }
   }

@media (max-width: 425px) {
  .box-main {
    background-image: url(./img/robot.png);
    width: 44rem;
    height: 92rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0rem; 
   }
   
   .card-red {
    position: absolute;
    top: 6rem;
    z-index: 2;
    left: 51rem;
   }
   
   .card-red img {
     width: 37rem;
   }

   .card-text {
    position: absolute;
    top: 80rem;
    left: 44rem;
  }

  .card-text img {
    width: 690px;
  }

  .line {
    width: 79rem;
    height: 5px;
    background-color: rgb(48, 46, 46);
    position: absolute;
    left: 11rem; 
    top: 105rem;
   }

  .dart {
    position: absolute;
    top: 112rem;
    left: 2rem;
    z-index: 2;
  }
  
  .dart img {
   width: 560px;
  }

   .menu {
    position: absolute;
    top: 120rem;
    left: 40rem;
    text-transform: uppercase;
    text-align: end;
    font-size: 15px;
    font-family: arial, sans-serif;
  }
  
  .rey {
    position: absolute;
    left: 68rem;
    top: 114rem;
    z-index: 2;
  }
 
  .rey img {
    width: 270px;
  }

  .hierarchy {
    background-color: rgb(24, 23, 23);
    width: 94rem;
    height: 180rem;
    position: relative;
    top: 48rem;
   }

   .hyerarchy, h3 {
    color: white;
    font-size: 28px;
    font-family: arial, sans-serif;
    position: relative;
    left: 41rem;
    top: 10rem;
    text-transform: uppercase;
  }

   .power img {
    width: 550px;
    right: 250px;
   }
   
   .power {
     position: relative;
     top: 17.2rem;
     left: 21rem;
   }

   .stormtrooper img {
    width: 540px;
    height: 300px;
  }
  
  .stormtrooper {
    position: relative;
    top: 34.6rem;
    left: -12.8rem;
  }
  
  .war img {
    width: 540px;
    height: 300px;
  }
  
  .war {
    position: relative;
    top: 53.2rem;
    left: -46.8rem;
  }

  .aircraft img {
    width: 540px;
    height: 300px;
   }
   
   .aircraft {
     position: relative;
     top: 72rem;
     left:-80.5rem;
   }

   .scout-trooper img {
    width: 540px;
    height: 300px;
  }
  
  .scout-trooper {
    position: relative;
    top: 90.6rem;
    left: -114rem;
  }

  .patent img {
    width: 1100px;
   }
   
   .patent {
     position: relative;
     top: 115rem;
     left: -167rem;
   } 

   .rule {
   width: 413px;
   font-size: 26px;
   position: relative;
   top: 26rem;
   left: 45rem;
   color: white;
   width: 595px;
   opacity: 0.5;
 } 

   .play {
    width: 200px;
    position: relative;
    left: 30rem;
    top: 33rem;
    margin-left: 20rem;
    font-size: 25px;
    color: white;
    font-family: arial, sans-serif;
    text-transform: uppercase;
   }
}


.box-footer {
  width: 100%;
  height: 50rem;
}


.captain-phasma {
  position: absolute;
  top: 219rem;
  left: 4rem;
}

.captain-phasma img {
  width: 340px;
}

.btn-01 {
  position: absolute;
  left: 28rem;
  top: 240rem;
  font-family: arial, sans-serif;
}

.btn-01 button {
  width: 160px;
  padding: 6px 0px;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  background-color: black;
}

.btn-01 p {
  width: 116px;
  margin-top: 1rem;
  margin-left: 1.5rem;
  font-size: 14px;
  opacity: 0.8;
}

.btn-01 h4 {
  font-size: 28px;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.line-01 {
  margin-top: 1rem;
  margin-left: 2rem;
  width: 95px;
  height: 4px;
  background-color: rgb(37, 36, 36);
}

.btn-01 .line-01:hover, button:hover {
  background-color: orangered;
  cursor: pointer;
}

.btn-02 {
  position: absolute;
  left: 47rem;
  top: 240rem;
  font-family: arial, sans-serif;
}

.btn-02 button {
  width: 160px;
  padding: 6px 0px;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  background-color: black;
}

.btn-02 p {
  width: 74px;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 14px;
  opacity: 0.8;
}

.btn-02 h4 {
  font-size: 28px;
  margin-left: 4rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.line-02 {
   margin-top: 1rem;
   margin-left: 2rem;
   width: 95px;
   height: 4px;
   background-color: rgb(37, 36, 36);
}


.btn-02 .line-02:hover, button:hover {
  background-color: orangered;
  cursor: pointer;
}


.btn-03 {
  position: absolute;
  left: 67rem;
  top: 239.5rem;
  font-family: arial, sans-serif;
}

.btn-03 button {
  width: 160px;
  padding: 6px 0px;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  background-color: black;
}


.btn-03 p {
  width: 72px;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 14px;
  opacity: 0.8;
}

.btn-03 h4 {
  font-size: 32px;
  margin-left: 4rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.line-03 {
  margin-top: 1rem;
  margin-left: 2rem;
  width: 85px;
  height: 4px;
  background-color: rgb(37, 36, 36);
}

.btn-03 .line-03:hover, button:hover {
  background-color: orangered;
  cursor: pointer;
}


.box-orange {
  position: absolute;
  top: 260rem;
  width: 900px;
  height: 42rem;
  background-color: #ff5a56;
  font-family: arial, sans-serif;
}

.box-orange h4 {
  margin-top: 6rem;
  margin-left: 10rem;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

.box-orange p {
  margin-top: 3rem;
  margin-left: 10rem;
  width: 395px;
  color: white;
}

.box-orange img {
 width: 200px;
}

.google {
  margin-top: 2rem;
  margin-left: 9.8rem;
}

.google:hover {
  cursor: pointer;
}

.apple {
  margin-top: -4rem;
  margin-left: 24rem;
}

.apple:hover {
  cursor: pointer;
}

.line-orange {
  margin-top: 3rem;
  margin-left: 10rem;
  width: 430px;
  height: 3px;
  background-color: rgba(194, 81, 40, 0.801);
}

.starwars {
  margin-top: 3rem;
  margin-left: 9rem;
}

.malgus {
  position: absolute;
  top: 254.5rem;
  left: 50rem;
}

.malgus img {
 width: 540px;
}

@media (max-width: 1024px) {
  .box-footer {
    width: 100%;
    height: 40rem;
  }
  
  
  .captain-phasma {
    position: absolute;
    top: 178rem;
    left: 4rem;
  }
  
  .captain-phasma img {
    width: 340px;
  }
  
  .btn-01 {
    position: absolute;
    left: 28rem;
    top: 200rem;
    font-family: arial, sans-serif;
  }
  
  .btn-01 button {
    width: 130px;
    padding: 6px 0px;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    background-color: black;
  }
  
  .btn-01 p {
    width: 116px;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 14px;
    opacity: 0.8;
  }
  
  .btn-01 h4 {
    font-size: 25px;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  
  .line-01 {
    margin-top: 1rem;
    margin-left: 1.8rem;
    width: 80px;
    height: 4px;
    background-color: rgb(37, 36, 36);
  }
   
  .btn-02 {
    position: absolute;
    left: 41rem;
    top: 200rem;
    font-family: arial, sans-serif;
  }

  .btn-02 button {
    width: 130px;
    padding: 6px 0px;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    background-color: black;
  }
  
  .btn-02 p {
    width: 74px;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 14px;
    opacity: 0.8;
  }
  
  .btn-02 h4 {
    font-size: 25px;
    margin-left: 4rem;
    margin-bottom: 1rem;
    opacity: 0.8;
  }
  
  .line-02 {
     margin-top: 1rem;
     margin-left: 1.8rem;
     width: 80px;
     height: 4px;
     background-color: rgb(37, 36, 36);
  }

  .btn-03 {
    position: absolute;
    left: 54rem;
    top: 200rem;
    font-family: arial, sans-serif;
  }
  
  .btn-03 button {
    width: 130px;
    padding: 6px 0px;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    background-color: black;
  }
   
  .btn-03 p {
    width: 72px;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 14px;
    opacity: 0.8;
  }
  
  .btn-03 h4 {
    font-size: 25px;
    margin-left: 4rem;
    margin-bottom: 1rem;
    opacity: 0.8;
  }
  
  .line-03 {
    margin-top: 1rem;
    margin-left: 1.8rem;
    width: 80px;
    height: 4px;
    background-color: rgb(37, 36, 36);
  }
 
  .box-orange {
    position: absolute;
    top: 220rem;
    width: 730px;
    height: 42rem;
    background-color: #ff5a56;
    font-family: arial, sans-serif;
  }

  .box-orange h4 {
    margin-top: 6rem;
    margin-left: 8rem;
    font-size: 28px;
    text-transform: uppercase;
    color: white;
  }
  
  .box-orange p {
    margin-top: 3rem;
    margin-left: 8rem;
    width: 426px;
    color: white;
  }
  
  .box-orange img {
   width: 180px;
  }
  
  .google {
    margin-top: 1.6rem;
    margin-left: 8rem;
  }
  
  .apple {
    margin-top: -3.6rem;
    margin-left: 20rem;
  }
    
  .line-orange {
    margin-top: 3rem;
    margin-left: 8rem;
    width: 380px;
    height: 3px;
    background-color: rgba(194, 81, 40, 0.801);
  }
  
  .starwars {
    margin-top: 2rem;
    margin-left: 8rem;
  }
  
  .malgus {
    position: absolute;
    top: 215.5rem;
    left: 36rem;
  }
  
  .malgus img {
   width: 410px;
  }
}


@media (max-width: 768px) {
  .box-footer {
    width: 100%;
    height: 40rem;
  }
  
  .captain-phasma {
    position: absolute;
    top: 190rem;
    left: 2rem;
  }
  
  .captain-phasma img {
    width: 300px;
  }

  .btn-01 {
    position: absolute;
    left: 22rem;
    top: 207rem;
    font-family: arial, sans-serif;
  }
   
  .btn-01 p {
    width: 116px;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 14px;
    opacity: 0.8;
  }
  
  .btn-01 h4 {
    font-size: 25px;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  
  .line-01 {
    margin-top: 1rem;
    margin-left: 1.8rem;
    width: 80px;
    height: 4px;
    background-color: rgb(37, 36, 36);
  }

  .btn-02 {
    position: absolute;
    left: 35rem;
    top: 207rem;
    font-family: arial, sans-serif;
  }

  .btn-02 button {
    width: 130px;
    padding: 6px 0px;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    background-color: black;
  }
  
  .btn-02 p {
    width: 74px;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 14px;
    opacity: 0.8;
  }
  
  .btn-02 h4 {
    font-size: 25px;
    margin-left: 4rem;
    margin-bottom: 1rem;
    opacity: 0.8;
  }
  
  .line-02 {
     margin-top: 1rem;
     margin-left: 1.8rem;
     width: 80px;
     height: 4px;
     background-color: rgb(37, 36, 36);
  }
  
  .btn-03 {
    position: absolute;
    left: 46rem;
    top: 207rem;
    font-family: arial, sans-serif;
  }
  
  .btn-03 button {
    width: 130px;
    padding: 6px 0px;
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    background-color: black;
  }
   
  .btn-03 p {
    width: 72px;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 14px;
    opacity: 0.8;
  }
  
  .btn-03 h4 {
    font-size: 25px;
    margin-left: 4rem;
    margin-bottom: 1rem;
    opacity: 0.8;
  }
  
  .line-03 {
    margin-top: 1rem;
    margin-left: 1.8rem;
    width: 80px;
    height: 4px;
    background-color: rgb(37, 36, 36);
  }

  .box-orange {
    position: absolute;
    top: 222rem;
    width: 700px;
    height: 39rem;
    background-color: #ff5a56;
    font-family: arial, sans-serif;
  }

  .malgus {
    position: absolute;
    top: 218rem;
    left: 34rem;
  }
  
  .malgus img {
   width: 340px;
  }
}


@media (max-width: 425px) {
  .box-footer {
    width: 100%;
    height: 100rem;
  }
  

  .captain-phasma {
    position: absolute;
    top: 350rem;
    left: -17rem;
  }
  
  .captain-phasma img {
    width: 700px;
  }
  
  .btn-01 {
    position: absolute;
    left: 51rem;
    top: 365rem;
    font-family: arial, sans-serif;
  }
   
  .btn-01 button {
    width: 160px;
    padding: 6px 0px;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    background-color: black;
  }
  
  .btn-01 p {
    width: 150px;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 18px;
    opacity: 0.8;
  }
  
  .btn-01 h4 {
    font-size: 30px;
    margin-left: 3rem;
    margin-bottom: 1rem;
  }
  
  .line-01 {
    margin-top: 0.8rem;
    margin-left: 2.5rem;
    width: 90px;
    height: 4px;
    background-color: rgb(37, 36, 36);
  }
  
  .btn-02 {
    position: absolute;
    left: 51rem;
    top: 383rem;
    font-family: arial, sans-serif;
  }

  .btn-02 button {
    width: 160px;
    padding: 6px 0px;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    background-color: black;
  }
  
  .btn-02 p {
    width: 95px;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 18px;
    opacity: 0.8;
  }
  
  .btn-02 h4 {
    font-size: 30px;
    margin-left: 4rem;
    margin-bottom: 1rem;
    opacity: 0.8;
  }
  
  .line-02 {
     margin-top: 1rem;
     margin-left: 1.8rem;
     width: 90px;
     height: 4px;
     background-color: rgb(37, 36, 36);
  }
  
  .btn-03 {
    position: absolute;
    left: 51rem;
    top: 402rem;
    font-family: arial, sans-serif;
  }
  
  .btn-03 button {
    width: 160px;
    padding: 6px 0px;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    background-color: black;
  }
   
  .btn-03 p {
    width: 73px;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 18px;
    opacity: 0.8;
  }
  
  .btn-03 h4 {
    font-size: 30px;
    margin-left: 4rem;
    margin-bottom: 1rem;
    opacity: 0.8;
  }
  
  .line-03 {
    margin-top: 1rem;
    margin-left: 1.8rem;
    width: 90px;
    height: 4px;
    background-color: rgb(37, 36, 36);
  }

  .box-orange {
    position: absolute;
    top: 425rem;
    width: 1505px;
    height: 68rem;
    background-color: #ff5a56;
    font-family: arial, sans-serif;
  }

  .box-orange h4 {
    margin-top: 6rem;
    margin-left: 36rem;
    font-size: 70px;
    text-transform: uppercase;
    color: white;
  }

  .box-orange p {
    margin-top: 2rem;
    margin-left: 35rem;
    width: 560px;
    color: white;
    font-size: 25px;
  }
  
  .box-orange img {
   width: 225px;
  }

  .google {
    margin-top: 1rem;
    margin-left: 36rem;
  }
  
  .apple {
    margin-top: -4.5rem;
    margin-left: 52rem;
  }

  .line-orange {
    margin-top: 3rem;
    margin-left: 37rem;
    width:460px;
    height: 3px;
    background-color: rgba(194, 81, 40, 0.801);
  }
  
  .starwars {
    margin-top: 2rem;
    margin-left: 35rem;
  }
  
  .malgus {
    position: absolute;
    top: 470rem;
    left: 5rem;
  }
  
  .malgus img {
   width: 800px;
  }
}