* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.box-header {
 display: flex;
 align-items: center;
 justify-content: center; 
 background-image: url("./img/logo.png");
 background-repeat: no-repeat;
 background-size: contain;
 width: 100%;
}

.mask {
 position: relative;
 left: 30vw;
 bottom: 1vh;
 width: 60rem;
 z-index: 2;
}
 
.star img {
 width: 378px;
}

.star {
position: relative;
right: 35vw;
bottom: 1vh;
}

.wars img {
 width: 378px;
}

.wars {
 position: relative;
 right: 14vw;
 bottom: 1vh;
}

.legion img {
 width: 150px;
}

.legion {
 position: relative;
 right: 28vw;
 top: 26vh;
}

.box-main {
 background-image: url(./img/robot.png);
 width: 100%;
 height: 80rem;
 background-size: contain;
 background-repeat: no-repeat;
 position: relative;
 bottom: 10rem; 
}

.card-red {
 position: absolute;
 top: -2rem;
 z-index: 2;
 left: 11rem;
}

.card-red img {
  width: 20rem;
}

.card-text {
  position: absolute;
  top: 16rem;
  left: 39rem;
}

.card-text img {
  width: 650px;
}

.line {
 width: 66rem;
 height: 3px;
 background-color: rgb(37, 36, 36);
 position: absolute;
 left: 14rem; 
 top: 35rem;
}

.dart {
  position: absolute;
  top: 40rem;
  left: 15rem;
  z-index: 2;
}

.dart img {
 width: 680px;
}

.menu {
  position: absolute;
  top: 50rem;
  left: 45rem;
  text-transform: uppercase;
  text-align: end;
  font-size: 18px;
  font-family: arial, sans-serif;
}

.menu h2 {
  font-size: 35px;
  width: 271px;
  margin-left: 45px;
  line-height: 1;
}

 .menu p {
  padding-top: 20px;
}

.menu strong{
  font-weight: bolder;
}

 .menu p:hover {
  background-color: orangered;
  color: white;
  cursor: pointer;
} 

.rey {
  position: absolute;
  left: 64rem;
  top: 44rem;
  z-index: 2;
}

.rey img {
  width: 325px;
}

.hierarchy {
 background-color: rgb(24, 23, 23);
 width: 100%;
 height: 120rem;
 position: relative;
 bottom: 10rem;
 display: flex;
}

.hyerarchy, h3 {
  color: white;
  font-family: arial, sans-serif;
  position: relative;
  left: 8rem;
  top: 10rem;
  text-transform: uppercase;
}


.power img {
 width: 625px;
}

.power {
  position: relative;
  top: 14rem;
  right: 4rem;
}

.power:hover {
  background: url(./img/novos\ graficos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 625px;
  height: 381px;
  cursor: pointer;
} 


.stormtrooper img {
  width: 300px;
  height: 192px;
}

.stormtrooper {
  position: relative;
  top: 14rem;
  left: -4rem;
}

.stormtrooper:hover {
  background: url(./img/novos\ graficos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 192px;
  cursor: pointer;
}


.war img {
  width: 290px;
  height: 192px;
}

.war {
  position: relative;
  top: 14rem;
  left: -4rem;
}

.war:hover {
  background: url(./img/novos\ graficos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 290px;
  height: 192px;
  cursor: pointer;
}

.aircraft img {
 width: 300px;
 height: 189px;
}

.aircraft {
  position: relative;
  top: 26rem;
  left:-41rem;
}

.aircraft:hover {
  background: url(./img/novos\ graficos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 189px;
  cursor: pointer;
}

.scout-trooper img {
  width: 292px;
  height: 189px;
}

.scout-trooper {
  position: relative;
  top: 26rem;
  left:-41rem;
}

.scout-trooper:hover {
  background: url(./img/novos\ graficos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 292px;
  height: 189px;
  cursor: pointer;
}


.patent img {
 width: 1220px;
}

.patent {
  position: relative;
  top: 45rem;
  right: 117rem;
}

.rule {
  position: relative;
  bottom: 38rem;
  left: 41rem;
  color: white;
  width: 595px;
  opacity: 0.5;
}

.play {
 position: relative;
 bottom: 22rem;
 text-align: center;
 font-size: 30px;
 color: white;
 font-family: arial, sans-serif;
 text-transform: uppercase;
}

.play h4:hover {
  cursor: pointer;
}

.box-footer {
  width: 100%;
  height: 50rem;
}


.captain-phasma {
  position: absolute;
  top: 219rem;
  left: 4rem;
}

.captain-phasma img {
  width: 340px;
}

.btn-01 {
  position: absolute;
  left: 28rem;
  top: 240rem;
  font-family: arial, sans-serif;
}

.btn-01 button {
  width: 160px;
  padding: 6px 0px;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  background-color: black;
}

.btn-01 p {
  width: 116px;
  margin-top: 1rem;
  margin-left: 1.5rem;
  font-size: 14px;
  opacity: 0.8;
}

.btn-01 h4 {
  font-size: 28px;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.line-01 {
  margin-top: 1rem;
  margin-left: 2rem;
  width: 95px;
  height: 4px;
  background-color: rgb(37, 36, 36);
}

.btn-01 .line-01:hover, button:hover {
  background-color: orangered;
  cursor: pointer;
}


.btn-02 {
  position: absolute;
  left: 47rem;
  top: 240rem;
  font-family: arial, sans-serif;
}

.btn-02 button {
  width: 160px;
  padding: 6px 0px;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  background-color: black;
}

.btn-02 p {
  width: 74px;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 14px;
  opacity: 0.8;
}

.btn-02 h4 {
  font-size: 28px;
  margin-left: 4rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.line-02 {
   margin-top: 1rem;
   margin-left: 2rem;
   width: 95px;
   height: 4px;
   background-color: rgb(37, 36, 36);
}


.btn-02 .line-02:hover, button:hover {
  background-color: orangered;
  cursor: pointer;
}


.btn-03 {
  position: absolute;
  left: 67rem;
  top: 239.5rem;
  font-family: arial, sans-serif;
}

.btn-03 button {
  width: 160px;
  padding: 6px 0px;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  background-color: black;
}


.btn-03 p {
  width: 72px;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 14px;
  opacity: 0.8;
}

.btn-03 h4 {
  font-size: 32px;
  margin-left: 4rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}

.line-03 {
  margin-top: 1rem;
  margin-left: 2rem;
  width: 85px;
  height: 4px;
  background-color: rgb(37, 36, 36);
}

.btn-03 .line-03:hover, button:hover {
  background-color: orangered;
  cursor: pointer;
}


.box-orange {
  position: absolute;
  top: 260rem;
  width: 900px;
  height: 42rem;
  background-color: #ff5a56;
  font-family: arial, sans-serif;
}


.box-orange h4 {
  margin-top: 6rem;
  margin-left: 10rem;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

.box-orange p {
  margin-top: 3rem;
  margin-left: 10rem;
  width: 395px;
  color: white;
}

.box-orange img {
 width: 200px;
}

.google {
  margin-top: 2rem;
  margin-left: 9.8rem;
}

.google:hover {
  cursor: pointer;
}

.apple {
  margin-top: -4rem;
  margin-left: 24rem;
}

.apple:hover {
  cursor: pointer;
}

.line-orange {
  margin-top: 3rem;
  margin-left: 10rem;
  width: 430px;
  height: 3px;
  background-color: rgba(194, 81, 40, 0.801);
}

.starwars {
  margin-top: 3rem;
  margin-left: 9rem;
}

.malgus {
  position: absolute;
  top: 254.5rem;
  left: 50rem;
}

.malgus img {
 width: 540px;
}